body {
    font-family: arial;
}

h1 {
    text-align: center;
}

div { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calor {
    display: flex;
    flex-direction: row;
}

#indicador-legenda {
    width: 250px; /* Largura da legenda */
    height: 30px; /* Altura da barra da legenda */
    background: linear-gradient(to right, #ffffff, #DC143C);
    position: relative;
    border: black 2px solid;
}